@using Converter.Models

@model InputData
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Convert text into specific format</h2>
    
</div>
<div class="form-group">
    @using (Html.BeginForm("TryConvert", "Convert", FormMethod.Post))
    {

        @Html.ValidationSummary(true)
        @Html.AntiForgeryToken()
        @Html.DropDownListFor(m => m.ExpectedType,
                            new SelectList(Enum.GetValues(typeof(TypeConverter.TypeConverters))),
                            "Select expected type", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ExpectedType,string.Empty, new { @class = "text-danger" })


        @Html.EditorFor(model => model.MyText, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.MyText, string.Empty, new { @class = "text-danger" })


        <input type="submit" name="Upload" value="Try Convert" />
        
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



       













